@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Light300/Lato-Light.eot');
  src: url('../font/Lato-Light300/') format('embedded-opentype'),
      url('../font/Lato-Light300/Lato-Light.woff2') format('woff2'),
      url('../font/Lato-Light300/Lato-Light.woff') format('woff'),
      url('../font/Lato-Light300/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/MyriadPro-Bold700/MyriadPro-Bold.eot');
  src: url('../font/MyriadPro-Bold700/Myriad-Pro-Bold.otf') format('embedded-opentype'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.woff2') format('woff2'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.woff') format('woff'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Source Serif Pro-Bold';
  src: url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.eot');
  src: url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.woff2') format('woff2'),
      url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.woff') format('woff'),
      url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Light';
  src: url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.eot');
  src: url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.otf') format('embedded-opentype'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.woff2') format('woff2'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.woff') format('woff'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Regular';
  src: url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.eot');
  src: url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.woff2') format('woff2'),
      url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.woff') format('woff'),
      url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Semibold';
  src: url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.eot');
  src: url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.woff2') format('woff2'),
      url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.woff') format('woff'),
      url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  position: relative;
  font-family: 'Source Serif Pro-Regular', serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

.header {
  margin: 0 auto;
  width: 1440px;
  min-height: 782px;
  background: url(../img/block-1/b1-border.png) no-repeat top 100px right 60px,  
              url(../img/block-1/b1-karly-gomez.jpg) no-repeat top right;  
  background-color: #f8f8f8;
  margin-bottom: 142px;
}

.navigation {
  display: flex;
  margin-bottom: 47px;
}

.navigation-logo img {
  width: 254px;
  height: 76px;
  margin-right: 82px;
}

.navigation-list {
  min-height: 76px;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding-top: 36px;
}

.navigation-item-link {
  opacity: 0.6;
  color: #212021;
  font-size: 20px;
  font-weight: 400;
  padding-right: 87px;
  text-decoration: none;
}

.navigation-item:nth-child(3) {
  padding-right: 67px;
}

.navigation-wrap {
  display: flex;
  margin-bottom: 35px;
}

.navigation-wrap-pager {
  margin-top: 120px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.pager-link {
  text-decoration: none;
  color: #c8c9ca;
  margin-bottom: 39px;
}

.pager-link-active {
  width: 37px;
  text-align: center;
  position: relative;
  font-family: 'Lato';
  font-size: 14.1px;
  font-weight: 300;
  color: #212021;
  font-style: italic;
}

.pager-link-active::before {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 2px solid #000000;
  width: 37px;
  bottom: -10px;
  left: 0;
}

.navigation-wrap-text {
  margin-left: 98px;
  width: 505px;
  position: relative;
}

.navigation-wrap-text h1 {
  position: relative;
  padding: 0;
  margin: 0;
  color: #212021;
  font-family: 'Source Serif Pro-Semibold';
  font-size: 48px;
  margin-top: 150px;
  margin-bottom: 33px;
  z-index: 5;
}

.navigation-wrap-text h1::before {
  content: "Food";
  position: absolute;
  color: #fffeff;
  font-family: "Source Serif Roman - Semibold";
  font-size: 83px;
  font-weight: 400;
  left: -26px;
  top: -38px;
  z-index: -1;
} 

.navigation-wrap-text h1::after {
  content: "Photogrphy";
  position: absolute;
  color: #fffeff;
  font-family: "Source Serif Roman - Semibold";
  font-size: 52px;
  font-weight: 400;
  right: 67px;
  bottom: -25px;
  z-index: -1;
}

.navigation-wrap-text p {
  padding: 0;
  margin: 0;
  color: #212021;
  font-size: 18px;
  font-weight: 300;
  padding-right: 240px;
  margin-bottom: 42px;
}

.navigation-wrap-text a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Source Serif Pro-Semibold';
  color: #212021;
  font-weight: 600;
}

.navigation-wrap-text a::before {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 2px solid #000000;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.navigation-link {
  opacity: 0.4;
  color: #212021;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
  margin-left: 154px;
}

/* -- // Блок 1 //-- */

/* --  Блок 2 -- */

.portfolio {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  
}

.portfolio-line {
  width: 2px;
  height: 38px;
  border: 1px solid #cb98a8;
  margin: 0 auto;
  margin-bottom: 100px;
}

.portfolio-title {
  padding: 0;
  margin: 0;
  color: #212021;
  font-family: "Source Serif Roman - Semibold";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 3.6px;
  text-align: center;
  margin-bottom: 106px;
}

.portfolio-inner-text {
  display: flex;
  min-height: 1075px;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.portfolio-inner-text__desc-one {
  width: 414px;
}

.portfolio-inner-text__desc-two {
  width: 317px;
}

.portfolio-inner-text__desc-three {
  width: 315px;
}

.desc-img {
  margin-bottom: 19px;
}

.desc-link {
  text-decoration: none;
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-weight: 300;
  margin-bottom: 8px;
}

.desc-subtext {
  margin: 0;
  padding: 0;
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  width: 330px;
}
