@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Light300/Lato-Light.eot');
  src: url('../font/Lato-Light300/') format('embedded-opentype'),
      url('../font/Lato-Light300/Lato-Light.woff2') format('woff2'),
      url('../font/Lato-Light300/Lato-Light.woff') format('woff'),
      url('../font/Lato-Light300/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('../font/MyriadPro-Bold700/MyriadPro-Bold.eot');
  src: url('../font/MyriadPro-Bold700/Myriad-Pro-Bold.otf') format('embedded-opentype'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.woff2') format('woff2'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.woff') format('woff'),
      url('../font/MyriadPro-Bold700/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Source Serif Pro-Bold';
  src: url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.eot');
  src: url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.woff2') format('woff2'),
      url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.woff') format('woff'),
      url('../font/SourceSerifPro-Bold700/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Light';
  src: url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.eot');
  src: url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.otf') format('embedded-opentype'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.woff2') format('woff2'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.woff') format('woff'),
      url('../font/SourceSerifPro-Light300/SourceSerifPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Regular';
  src: url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.eot');
  src: url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.woff2') format('woff2'),
      url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.woff') format('woff'),
      url('../font/SourceSerifPro-Regular400/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro-Semibold';
  src: url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.eot');
  src: url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.woff2') format('woff2'),
      url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-Semibold.woff') format('woff'),
      url('../font/SourceSerifPro-SemiBold600/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

